.navbar-nav .nav-link {
  display: inline-block !important;
  width: auto !important;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  text-align: center;
}

.btn-hover {
    transition: all 0.3s ease;
  }
  
  .btn-hover:hover {
    color:  rgb(255, 180, 31);
    box-shadow: 0 0 5px rgba(13, 110, 253, 0.5); 
  }
  .btn-hover:active{
    background-color: rgba(123, 123, 123, 0.804);
  }
    
